<p>create works!</p>

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Title">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="Alta">Alta</mat-option>
        <mat-option value="Baja">Baja</mat-option>
        <mat-option value="Media">Media</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</div>