<p>view works!</p>
<div class=" container">
    <h1>View Post</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ solicitud.id }}</p>
    </div>
   
    <div>
        <strong>Title:</strong>
        <p>{{ solicitud.titulo }}</p>
    </div>
   
    <div>
        <strong>Body:</strong>
        <p>{{ solicitud.descripcion }}</p>
    </div>"
    
    <div>
        <strong>Status:</strong>
        <p>{{ solicitud.estado }}</p>

    </div>

    <div>
        <strong>Priority:</strong>
        <p>{{ solicitud.prioridad }}</p>

    </div>
</div>